<h1>A Highly Overfitted Model</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split as TSSplit
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
train_data = pd.read_csv("./train.csv")
X = train_data.iloc[:,0:13]
y = train_data.iloc[:,-1]
X.drop(['PassengerId','Name'],axis = 'columns',inplace = True)
X_train,X_valid,y_train,y_valid = TSSplit(X,y)
X.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [3]:
X_train_ed = X_train.copy()
one_hot = OneHotEncoder(sparse_output = False)
encoded_array = one_hot.fit_transform(X_train_ed[["HomePlanet","Destination"]])
encoded_labels = one_hot.categories_
encoded_labels = np.array(encoded_labels).ravel()

In [4]:
encoded_features = pd.DataFrame(encoded_array,columns = encoded_labels)
t = encoded_features.columns
encoded_features.drop(t[3],axis = 1,inplace = True)
encoded_features.head()

   Earth  Europa  Mars  55 Cancri e  PSO J318.5-22  TRAPPIST-1e
0    0.0     1.0   0.0          1.0            0.0          0.0
1    1.0     0.0   0.0          0.0            0.0          1.0
2    0.0     0.0   1.0          0.0            0.0          1.0
3    1.0     0.0   0.0          0.0            0.0          1.0
4    1.0     0.0   0.0          0.0            0.0          1.0

In [5]:
X_train_ed.shape , encoded_features.shape

((6519, 11), (6519, 6))

In [6]:
# Completed encoding categorical Features
X_train_ed.reset_index(drop=True, inplace=True)
encoded_features.reset_index(drop=True, inplace=True)
X_train_ed = pd.concat([encoded_features,X_train_ed],axis = 1)
X_train_ed.drop(['HomePlanet','Destination'],axis = 1,inplace = True)
X_train_ed.head()

,Earth,Europa,Mars,55 Cancri e,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,1.0,0.0,1.0,0.0,0.0,False,C/57/P,27.0,False,0.0,4342.0,0.0,NaN,36.0
1,1.0,0.0,0.0,0.0,0.0,1.0,True,G/1012/P,47.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,True,F/1784/S,50.0,False,0.0,0.0,0.0,NaN,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,False,F/467/S,33.0,False,4.0,0.0,28.0,0.0,2757.0
4,1.0,0.0,0.0,0.0,0.0,1.0,False,F/565/P,40.0,False,0.0,0.0,362.0,272.0,0.0

In [7]:
#Converting Cabins to categorical data:
cabins = X_train_ed.Cabin
cabins.head()
cate = []
freq = {}
for count , i in enumerate(cabins):
    i = str(i)
    cabin = i[0]
    if cabin in freq:
        freq[cabin] +=1
    else:
        freq[cabin] = 1
    cate.append(cabin)
print(freq)

{'C': 540, 'G': 1911, 'F': 2127, 'D': 361, 'B': 581, 'E': 664, 'n': 152, 'A': 181, 'T': 2}

In [8]:
cabins = pd.Series(cate)
cabins.head()
X_train_ed.Cabin = cabins
X_train_ed.head()

,Earth,Europa,Mars,55 Cancri e,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,1.0,0.0,1.0,0.0,0.0,False,C,27.0,False,0.0,4342.0,0.0,NaN,36.0
1,1.0,0.0,0.0,0.0,0.0,1.0,True,G,47.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,True,F,50.0,False,0.0,0.0,0.0,NaN,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,False,F,33.0,False,4.0,0.0,28.0,0.0,2757.0
4,1.0,0.0,0.0,0.0,0.0,1.0,False,F,40.0,False,0.0,0.0,362.0,272.0,0.0

In [10]:
OHE = OneHotEncoder(sparse_output = False)
encoded_array = OHE.fit_transform(X_train_ed[["Cabin"]])
encoded_features = OHE.categories_
encoded_df  = pd.DataFrame(encoded_array,columns = encoded_features)
encoded_df.drop('n',axis = 1,inplace = True)

In [11]:
X_train_ed.reset_index(drop=True, inplace=True)
encoded_df.reset_index(drop=True, inplace=True)
X_train_ed = pd.concat([encoded_df,X_train_ed],axis = 1)
X_train_ed.drop(['Cabin'],axis = 1,inplace = True)
X_train_ed.head()

,"(A,)","(B,)","(C,)","(D,)","(E,)","(F,)","(G,)","(T,)",Earth,Europa,...,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,False,27.0,False,0.0,4342.0,0.0,NaN,36.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,True,47.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,True,50.0,False,0.0,0.0,0.0,NaN,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,33.0,False,4.0,0.0,28.0,0.0,2757.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,40.0,False,0.0,0.0,362.0,272.0,0.0

In [13]:
X_train_ed.fillna(0,inplace = True)
X_train_ed.head()

,"(A,)","(B,)","(C,)","(D,)","(E,)","(F,)","(G,)","(T,)",Earth,Europa,...,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,False,27.0,False,0.0,4342.0,0.0,0.0,36.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,True,47.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,True,50.0,False,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,33.0,False,4.0,0.0,28.0,0.0,2757.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,40.0,False,0.0,0.0,362.0,272.0,0.0

In [15]:
X_train_processed = X_train_ed.copy()
X_train_processed.head()

,"(A,)","(B,)","(C,)","(D,)","(E,)","(F,)","(G,)","(T,)",Earth,Europa,...,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,False,27.0,False,0.0,4342.0,0.0,0.0,36.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,True,47.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,True,50.0,False,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,33.0,False,4.0,0.0,28.0,0.0,2757.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,False,40.0,False,0.0,0.0,362.0,272.0,0.0

In [16]:
#Applying Operations of Cross validation Data
X_train_ed = X_valid.copy()
one_hot = OneHotEncoder(sparse_output = False)
encoded_array = one_hot.fit_transform(X_train_ed[["HomePlanet","Destination"]])
encoded_labels = one_hot.categories_
encoded_labels = np.array(encoded_labels).ravel()
encoded_features = pd.DataFrame(encoded_array,columns = encoded_labels)
t = encoded_features.columns
encoded_features.drop(t[3],axis = 1,inplace = True)
encoded_features.head()
X_train_ed.reset_index(drop=True, inplace=True)
encoded_features.reset_index(drop=True, inplace=True)
X_train_ed = pd.concat([encoded_features,X_train_ed],axis = 1)
X_train_ed.drop(['HomePlanet','Destination'],axis = 1,inplace = True)

In [17]:
cabins = X_train_ed.Cabin
cabins.head()
cate = []
freq = {}
for count , i in enumerate(cabins):
    i = str(i)
    cabin = i[0]
    if cabin in freq:
        freq[cabin] +=1
    else:
        freq[cabin] = 1
    cate.append(cabin)
print(freq)
cabins = pd.Series(cate)
cabins.head()
X_train_ed.Cabin = cabins
X_train_ed.head()
OHE = OneHotEncoder(sparse_output = False)
encoded_array = OHE.fit_transform(X_train_ed[["Cabin"]])
encoded_features = OHE.categories_
encoded_df  = pd.DataFrame(encoded_array,columns = encoded_features)
encoded_df.drop('n',axis = 1,inplace = True)
X_train_ed.reset_index(drop=True, inplace=True)
encoded_df.reset_index(drop=True, inplace=True)
X_train_ed = pd.concat([encoded_df,X_train_ed],axis = 1)
X_train_ed.drop(['Cabin'],axis = 1,inplace = True)
X_train_ed.head()
X_train_ed.fillna(0,inplace = True)
X_train_ed.head()

{'C': 207, 'G': 648, 'E': 212, 'F': 667, 'B': 198, 'A': 75, 'n': 47, 'D': 117, 'T': 3}

,"(A,)","(B,)","(C,)","(D,)","(E,)","(F,)","(G,)","(T,)",Earth,Europa,...,PSO J318.5-22,TRAPPIST-1e,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,True,28.0,0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,True,21.0,False,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,True,20.0,False,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,True,1.0,False,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,True,16.0,False,0.0,0.0,0.0,0.0,0.0

In [19]:
X_valid_processed = X_train_ed.copy()
X_valid_processed.shape,X_valid.shape,X_train_processed.shape,X_train.shape

((2174, 22), (2174, 11), (6519, 22), (6519, 11))

In [27]:
X_train_total = X_train_processed.copy()
X_train_total = X_train_total._append(X_valid_processed)
X_train_total.shape

(8693, 22)

In [28]:
from xgboost import XGBClassifier
from datetime import datetime
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [47]:
xgb = XGBClassifier(learning_rate=0.02, objective='binary:logistic')
params = {
    'n_estimators' : [100,200,300,400,500,600,700,800,900,1000],
    'max_depth' : [3,4,5,6,7]
}

# preds = bst.predict(X_test)

In [40]:
X_train_total.CryoSleep = X_train_total.CryoSleep.astype('bool')
X_train_total.CryoSleep.head()

0    False
1     True
2     True
3    False
4    False
Name: CryoSleep, dtype: bool

In [44]:
X_train_total.VIP = X_train_total.VIP.astype('bool')
X_train_total.VIP.head()
X_train_total.dtypes

(A,)             float64
(B,)             float64
(C,)             float64
(D,)             float64
(E,)             float64
(F,)             float64
(G,)             float64
(T,)             float64
Earth            float64
Europa           float64
Mars             float64
55 Cancri e      float64
PSO J318.5-22    float64
TRAPPIST-1e      float64
CryoSleep           bool
Age              float64
VIP                 bool
RoomService      float64
FoodCourt        float64
ShoppingMall     float64
Spa              float64
VRDeck           float64
dtype: object

In [48]:
from sklearn.model_selection import GridSearchCV
start_time = timer(None)
grid = GridSearchCV(estimator=xgb, param_grid=params, scoring='roc_auc', n_jobs=-1, cv=3, verbose=3 )
grid.fit(X_train_total,y)
timer(start_time)
print('\n All results:')
print(grid.cv_results_)
print('\n Best estimator:')
print(grid.best_estimator_)
print('\n Best score:')
print(grid.best_score_ * 2 - 1)
print('\n Best parameters:')
print(grid.best_params_)
results = pd.DataFrame(grid.cv_results_)
results.to_csv('xgb-grid-search-results-01.csv', index=False)

# y_test = grid.best_estimator_.predict_proba(test)
# results_df = pd.DataFrame(data={'id':test_df['id'], 'target':y_test[:,1]})
# results_df.to_csv('submission-grid-search-xgb-porto-01.csv', index=False)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

 Time taken: 0 hours 0 minutes and 12.43 seconds.

 All results:
{'mean_fit_time': array([0.15343094, 0.22518992, 0.27136127, 0.36259953, 0.41199017,
       0.48826774, 0.63988272, 0.56757426, 0.67278695, 0.7905937 ,
       0.12766616, 0.19031405, 0.27824394, 0.39103381, 0.47338525,
       0.58104332, 0.65562503, 0.75527302, 0.84342217, 0.89258623,
       0.16479953, 0.27212739, 0.38531653, 0.57103046, 0.60842935,
       0.68617924, 0.84387668, 1.00387573, 1.11282452, 1.2697204 ,
       0.17623115, 0.34659044, 0.54334585, 0.66753252, 0.80326819,
       0.99434145, 1.24287732, 1.27173384, 1.43694719, 1.70353349,
       0.24088073, 0.46548017, 0.71404759, 1.03811153, 1.15744058,
       1.62593079, 2.55789971, 2.91876038, 3.36849626, 3.65050443]), 'std_fit_time': array([0.00928492, 0.0056845 , 0.01240528, 0.01384288, 0.02148732,
       0.01013776, 0.1275711 , 0.04075935, 0.0171721 , 0.10295158,
       0.01017592, 0.01100506, 0.01953566, 0.0179464 , 0.03525411,
       0.04669519, 0.07989295, 0.04370218, 0.02671673, 0.04315974,
       0.0050446 , 0.03138186, 0.02408077, 0.04449274, 0.04713633,
       0.02586264, 0.05948436, 0.07544606, 0.02170621, 0.16736847,
       0.02831324, 0.03859205, 0.08340983, 0.01229389, 0.06009453,
       0.0528069 , 0.15077821, 0.06624622, 0.11814143, 0.08071784,
       0.03563768, 0.02288578, 0.06046845, 0.09403719, 0.04631541,
       0.05267765, 0.12175052, 0.05383161, 0.01861732, 0.03885989]), 'mean_score_time': array([0.01994816, 0.01501703, 0.02038892, 0.02253834, 0.02386649,
       0.02903271, 0.0403045 , 0.02953434, 0.03604309, 0.04774555,
       0.01468412, 0.01719777, 0.02237868, 0.02803445, 0.02920763,
       0.0350759 , 0.0352126 , 0.04807353, 0.05005463, 0.04256455,
       0.01605241, 0.02086926, 0.02455974, 0.04204639, 0.0377353 ,
       0.04006457, 0.04653708, 0.05503623, 0.05129631, 0.07639432,
       0.0161852 , 0.02339681, 0.03555997, 0.03673418, 0.03702203,
       0.06455755, 0.08918476, 0.08453147, 0.09775654, 0.11901307,
       0.01848284, 0.02816089, 0.04796426, 0.05507588, 0.09159009,
       0.16351883, 0.15984384, 0.13494873, 0.12941821, 0.13941431]), 'std_score_time': array([0.00150521, 0.00147604, 0.00127712, 0.00318619, 0.00210235,
       0.0004107 , 0.01114975, 0.00347343, 0.00353084, 0.01096437,
       0.00154788, 0.00205867, 0.00266435, 0.00628963, 0.00505606,
       0.0029453 , 0.00479131, 0.00122799, 0.00828383, 0.00040479,
       0.00139518, 0.00310225, 0.00354979, 0.01237765, 0.00616928,
       0.00429697, 0.00594837, 0.00939795, 0.00341327, 0.01503355,
       0.00201139, 0.00507225, 0.00606277, 0.00672173, 0.00082338,
       0.01523061, 0.01716836, 0.01276289, 0.01735387, 0.0168664 ,
       0.00072108, 0.00174693, 0.00589869, 0.01091177, 0.03925607,
       0.0179347 , 0.00650909, 0.01403106, 0.00074933, 0.00310909]), 'param_max_depth': masked_array(data=[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4,
                   4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6,
                   6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 100,
                   200, 300, 400, 500, 600, 700, 800, 900, 1000, 100, 200,
                   300, 400, 500, 600, 700, 800, 900, 1000, 100, 200, 300,
                   400, 500, 600, 700, 800, 900, 1000, 100, 200, 300, 400,
                   500, 600, 700, 800, 900, 1000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 3, 'n_estimators': 100}, {'max_depth': 3, 'n_estimators': 200}, {'max_depth': 3, 'n_estimators': 300}, {'max_depth': 3, 'n_estimators': 400}, {'max_depth': 3, 'n_estimators': 500}, {'max_depth': 3, 'n_estimators': 600}, {'max_depth': 3, 'n_estimators': 700}, {'max_depth': 3, 'n_estimators': 800}, {'max_depth': 3, 'n_estimators': 900}, {'max_depth': 3, 'n_estimators': 1000}, {'max_depth': 4, 'n_estimators': 100}, {'max_depth': 4, 'n_estimators': 200}, {'max_depth': 4, 'n_estimators': 300}, {'max_depth': 4, 'n_estimators': 400}, {'max_depth': 4, 'n_estimators': 500}, {'max_depth': 4, 'n_estimators': 600}, {'max_depth': 4, 'n_estimators': 700}, {'max_depth': 4, 'n_estimators': 800}, {'max_depth': 4, 'n_estimators': 900}, {'max_depth': 4, 'n_estimators': 1000}, {'max_depth': 5, 'n_estimators': 100}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 400}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 600}, {'max_depth': 5, 'n_estimators': 700}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 900}, {'max_depth': 5, 'n_estimators': 1000}, {'max_depth': 6, 'n_estimators': 100}, {'max_depth': 6, 'n_estimators': 200}, {'max_depth': 6, 'n_estimators': 300}, {'max_depth': 6, 'n_estimators': 400}, {'max_depth': 6, 'n_estimators': 500}, {'max_depth': 6, 'n_estimators': 600}, {'max_depth': 6, 'n_estimators': 700}, {'max_depth': 6, 'n_estimators': 800}, {'max_depth': 6, 'n_estimators': 900}, {'max_depth': 6, 'n_estimators': 1000}, {'max_depth': 7, 'n_estimators': 100}, {'max_depth': 7, 'n_estimators': 200}, {'max_depth': 7, 'n_estimators': 300}, {'max_depth': 7, 'n_estimators': 400}, {'max_depth': 7, 'n_estimators': 500}, {'max_depth': 7, 'n_estimators': 600}, {'max_depth': 7, 'n_estimators': 700}, {'max_depth': 7, 'n_estimators': 800}, {'max_depth': 7, 'n_estimators': 900}, {'max_depth': 7, 'n_estimators': 1000}], 'split0_test_score': array([0.50447225, 0.49730912, 0.49390474, 0.49394737, 0.49470112,
       0.49605359, 0.49654727, 0.49794261, 0.49694356, 0.49696618,
       0.50269802, 0.49989712, 0.49295737, 0.49542677, 0.49645106,
       0.49279114, 0.4914925 , 0.48983116, 0.4887971 , 0.48841534,
       0.49912765, 0.49902715, 0.50056704, 0.49851989, 0.49756942,
       0.49466873, 0.49329507, 0.49089379, 0.49014909, 0.49096238,
       0.50373494, 0.50192855, 0.49503573, 0.49726173, 0.49284735,
       0.49021696, 0.48844773, 0.48787164, 0.48783973, 0.48654585,
       0.49440367, 0.49339843, 0.49532651, 0.48893832, 0.48624506,
       0.48582092, 0.48700882, 0.4869831 , 0.48501168, 0.48546345]), 'split1_test_score': array([0.50488573, 0.50529845, 0.50228152, 0.49669299, 0.49356317,
       0.49083082, 0.49058338, 0.49108803, 0.49036761, 0.48985987,
       0.50657925, 0.50061158, 0.49494375, 0.49460676, 0.49276583,
       0.49407115, 0.49207375, 0.48960362, 0.48792272, 0.48838046,
       0.51113228, 0.50190095, 0.49861561, 0.49171914, 0.49162721,
       0.49195253, 0.4924205 , 0.49276845, 0.49179011, 0.49331144,
       0.51136472, 0.50583716, 0.49829577, 0.49558867, 0.49468059,
       0.49293325, 0.49021067, 0.48582292, 0.48282837, 0.48288814,
       0.50583121, 0.50408196, 0.49880589, 0.49443124, 0.4923069 ,
       0.49153386, 0.4888077 , 0.48844666, 0.4877041 , 0.48498652]), 'split2_test_score': array([0.51063635, 0.5077079 , 0.50760924, 0.50671436, 0.50679491,
       0.51006248, 0.51088658, 0.51189085, 0.51181054, 0.5116685 ,
       0.50487454, 0.50056267, 0.49942637, 0.50610093, 0.50711235,
       0.50945191, 0.51051242, 0.51030556, 0.50922265, 0.50926793,
       0.50815784, 0.50726296, 0.51059988, 0.51247711, 0.5142011 ,
       0.51225833, 0.51484289, 0.51553472, 0.51134891, 0.51090159,
       0.50888662, 0.50869644, 0.50607614, 0.50687403, 0.50813949,
       0.51115183, 0.50928938, 0.51065088, 0.50895597, 0.50794241,
       0.51050003, 0.51476329, 0.50845812, 0.51450686, 0.51741195,
       0.5151925 , 0.51385649, 0.51675491, 0.51559788, 0.51573348]), 'mean_test_score': array([0.50666478, 0.50343849, 0.50126517, 0.49911824, 0.49835307,
       0.4989823 , 0.49933908, 0.50030716, 0.49970724, 0.49949818,
       0.50471727, 0.50035712, 0.49577583, 0.49871149, 0.49877641,
       0.4987714 , 0.49802622, 0.49658011, 0.49531416, 0.49535458,
       0.50613926, 0.50273035, 0.50326084, 0.50090538, 0.50113258,
       0.49962653, 0.50018615, 0.49973232, 0.4977627 , 0.4983918 ,
       0.50799542, 0.50548738, 0.49980255, 0.49990814, 0.49855581,
       0.49810068, 0.49598259, 0.49478181, 0.49320802, 0.4924588 ,
       0.5035783 , 0.50408123, 0.50086351, 0.49929214, 0.49865464,
       0.49751576, 0.49655767, 0.49739489, 0.49610455, 0.49539448]), 'std_test_score': array([0.00281339, 0.00444434, 0.00564081, 0.00548698, 0.00598733,
       0.00811982, 0.00852059, 0.00865574, 0.00896951, 0.00908157,
       0.0015884 , 0.00032588, 0.0027057 , 0.00523584, 0.00608337,
       0.00757032, 0.00883226, 0.0097058 , 0.00984126, 0.00983824,
       0.0051045 , 0.00341302, 0.00525028, 0.00864065, 0.00955396,
       0.0090006 , 0.01037002, 0.01120016, 0.00963023, 0.00889759,
       0.00317795, 0.00277403, 0.00463145, 0.00497276, 0.00681789,
       0.00929494, 0.0094368 , 0.01125225, 0.01132186, 0.01104992,
       0.00676165, 0.00872217, 0.00555489, 0.01098965, 0.01349232,
       0.01271508, 0.01225414, 0.01370263, 0.01382762, 0.01438316]), 'rank_test_score': array([ 2,  8, 11, 26, 34, 27, 24, 16, 21, 23,  5, 15, 44, 30, 28, 29, 36,
       40, 47, 46,  3, 10,  9, 13, 12, 22, 17, 20, 37, 33,  1,  4, 19, 18,
       32, 35, 43, 48, 49, 50,  7,  6, 14, 25, 31, 38, 41, 39, 42, 45])}

 Best estimator:
XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.02, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=6, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

 Best score:
0.015990848694138027

 Best parameters:
{'max_depth': 6, 'n_estimators': 100}